@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  } 
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

:root {
  --primary: #fff;
  --bg: #ebebe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--bg);
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--primary);
  position: fixed;
  height: 50px;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  width: 70%;
  max-width: 900px;
  z-index: 9999;
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 15px;  
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-size: 35px;
  font-weight: 900;
  color: #000;
  display: inline-block;
  transition: trasform 0.2s ease-in-out;
  
}

.logo a:hover {
  animation: wiggle 0.3s ease-in-out;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 0;
  margin-right: 2vw;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 600; /* SemiBold */
  padding: 8px 12px;
  position: relative;
}

.w-40{
  width: 40px;
}

.contact-button {
  width: 21px;
  transition: trasform 0.2s ease-in-out;
}

.contact-button:hover{
  animation: wiggle 0.3s ease-in-out;
}

.nav-links a::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 0.2rem solid #000;
  border-radius: 2px;
  transform: scaleX(0);
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-links a:hover::after {
  transform: scaleX(0.5);
}

.nav-links a.active{
  color: rgb(101, 105, 105);
}

.nav-links a.active:hover::after{
  transform: scaleX(0);
}

section {
  height: 100vh;
}

div.home-about {
  border: solid black;
  padding-top: 10px;
  height: 100vh;
  text-align: center;
}

div.home-project {
  height: 50vh;
  border: solid black;
}

section .home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  padding-bottom: 70px;
}

.photo {
  padding-bottom: 30px;
}

.profile-pic {
  width: 80px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #000;
  object-fit: cover;
  display: block;
  margin: 10px;
}

.hello {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1vh;
}

.name{
  font-size: 2.7rem;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.line{
  width: 50%;
  height: 0.5vh;
  background-color: #000;
  border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.profile-desc {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 10px 300px;
  justify-content: center;
  text-align: center;
}

.highlight-text{
  font-weight: 600;
}

.about-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid #000;
  border-radius: 5px;
  height: 50vh;
  width: 65%;
  justify-content: flex-start;
  position: relative;
  margin: 6.5rem 14rem;
  padding: 10px;
  padding-top: 15px;
  border: solid;
}

.about-container-1{
  padding-top: 1.2vh;
  padding-bottom: 5vh;
}

.about-image{
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-right: 5vw;
  width: 200px;
}

.about-image img{
  width: 225px;
  object-fit: cover;
}

.content-title{
  position: flex;
  left :16rem;
  font-size: 2.5rem;
  margin-top: 1.8vh;
  margin-left: 1vw;
}

.content-content{
  position: flex;
  font-size: 1rem;
  font-weight: 500;
  top: 11rem;
  left :16rem;
  margin-top: 1rem;
  margin-right: 20rem;
  margin-left: 2vh;

}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-container{
  background-color: white;
  border: solid #000;
  border-radius: 5px;
  height: 50vh;
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: 6.5rem 14rem;
  padding: 10px;
  padding-top: 15px;
}

.project-image{
  width: 25vw;
  height: 25vh;
  margin-top: 1vh;
  margin-right: 2vw;
  border: solid;
}

#image{
  padding: 15px;
  padding-left: 3.5vw;
}

.caption-image{
  text-align: center;
}

.project-image img{
  width: 24.5vw;
  height: 24vh;
}

.contact-container{
  background-color: white;
  border: solid #000;
  border-radius: 5px;
  height: 50vh;
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: 6.5rem 14rem;
  padding: 10px;
  padding-top: 15px;
}

#contact-title{
  text-align: center;
  padding-bottom: 3vh;
}

#contact-content{
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

#social{
  width: 50px;
}

.img-social{
  padding: 10px;
  margin-top: 4vh;
  border: solid;
}